<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav style = "background : #333; padding: 10px">
  <a href ="/" style="color:white; margin-right: 20px">OTALKY</a>
      <a href ="/main/" style="color:white; margin-right: 20px">메인</a>
  <a href ="/community/" style="color:white; margin-right: 20px">영어고민방</a>

  <a href ="/signin/" style="color:white; margin-right: 20px">로그인</a>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>